@using System.Data;
@model DataSet
@{
    ViewBag.Title = "Events";
    var events = (Model != null && Model.Tables.Count > 0) ? Model.Tables[0] : null;
    var imageUrl = (Model != null && Model.Tables.Count > 0) ? Model.Tables[1] : null;
    var videoUrl = (Model != null && Model.Tables.Count > 0) ? Model.Tables[2] : null;
}
<!--  ************************* Page Title Starts Here ************************** -->

<div class="page-nav no-margin row">
    <div class="container">
        <div class="row">
            <h2>Contact Us</h2>
            <ul>
                <li> <a href="#"><i class="fas fa-home"></i> Home</a></li>
                <li><i class="fas fa-angle-double-right"></i> Events</li>
            </ul>
        </div>
    </div>
</div>

<!-- ################# Our Events Starts Here#######################--->
@if (events.AsEnumerable().Count() > 0)
{
    <section class="our-blog">
        <div class="container">
            <div class="row session-title">
                <h2> Our Events </h2>
            </div>
            <div class="blog-row row">
                @foreach (var item in events.AsEnumerable())
                {
                    var image = imageUrl.AsEnumerable().Where(x => Convert.ToInt32(x["EventId"].ToString()) == Convert.ToInt32(item["EventId"].ToString())).FirstOrDefault();
                    string url = "/uplodedimage/" + item["EventId"].ToString() + "-" + image["ImageName"].ToString() + "";
                    <div class="col-md-4 col-sm-6">
                        <div class="single-blog">
                            <figure style="width: 360px;height: 239px;">
                                <img src="@url" alt="@item["Title"].ToString()">
                            </figure>
                            <div class="blog-detail">
                                <small>@item["EventDate"].ToString()</small>
                                <h4>@item["Title"].ToString()</h4>
                                <p> @item["Description"].ToString()</p>
                                <div class="link">
                                    <a href="@Url.Action("EventDetail","Home",new { EventId = Convert.ToInt32(item["EventId"].ToString()) })">Read more </a><i class="fas fa-long-arrow-alt-right"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
}
else
{
    <section class="our-blog">
        <div class="container">
            <div class="row session-title">
                <h2> No Events </h2>
            </div>
        </div>
    </section>
}
