@using System.Data;
@model DataSet
@{
    ViewBag.Title = "Event Detail";
    var events = (Model != null && Model.Tables.Count > 0) ? Model.Tables[0] : null;
    var imageUrl = (Model != null && Model.Tables.Count > 0) ? Model.Tables[1] : null;
    var videoUrl = (Model != null && Model.Tables.Count > 0) ? Model.Tables[2] : null;
    int i = 1;
}
<!--  ************************* Page Title Starts Here ************************** -->

<div class="page-nav no-margin row">
    <div class="container">
        <div class="row">
            <h2>Our Gallery</h2>
            <ul>
                <li> <a href="#"><i class="fas fa-home"></i> Home</a></li>
                <li><i class="fas fa-angle-double-right"></i> Event Detail</li>
            </ul>
        </div>
    </div>
</div>



<!--  ************************* Gallery Starts Here ************************** -->
<div id="portfolio" class="gallery">
    <div class="container">
        <div class="row">
            @foreach (var item in imageUrl.AsEnumerable())
            {
                string url = "/uplodedimage/" + events.Rows[0]["EventId"].ToString() + "-" + item["ImageName"].ToString() + "";
                <div class="gallery_product col-lg-3 col-md-3 col-sm-4 col-xs-6 filter hdpe">
                    <img src="@url" class="img-responsive">
                </div>
            }
            
        </div>
        <div class="row">
            @foreach (var item in videoUrl.AsEnumerable())
            {
                <div class="col-md-1 col-sm-6 col-xs-12">
                    <a style="color: #71b61b;font-size: 12px;" href="@item["VideoUrl"].ToString()" target="_blank">Video - @i</a>
                </div>
                i = i + 1;
            }
        </div>
    </div>
</div>
<section class="container-fluid mission-vision">
    <div class="container">
        <div class="row mission">
            <div class="col-md-12 mv-det">

            </div>
        </div>
    </div>
</section>
<section class="container-fluid mission-vision">
    <div class="container">
        <div class="row mission">
            <div class="col-md-12 mv-det">
                <h1>@events.Rows[0]["Title"].ToString()</h1>
                <small style="color: #71b61b;font-size: 12px;">@events.Rows[0]["EventDate"].ToString()</small>
                <p>@events.Rows[0]["Description"].ToString()</p>
            </div>
        </div>
    </div>
</section>

<!-- ######## Gallery End ####### -->
